.contenido
  margin-bottom 400px
  justify-content space-between
  container()

.caja
  max-width 400px
  box-shadow()
  &__contenido
    padding 20px
    background-color clear-color
    span
      titles(secondary-font)
      font-weight normal
