.contenido
  margin-bottom 400px
  justify-content space-evenly
  contenedor()

.caja
  max-width 400px
  box-shadow()
  &__contenido
    padding 20px
    background-color clear-color
    span
      text-transform uppercase
      color secondary-color
      font-family secondary-font
      text-transform uppercase
      font-weight normal
      font-family secondary-font