main-font = 'Lato', sans-serif
secondary-font = 'Oswald', sans-serif
primary-color = #333333
secondary-color = #8841DA
clear-color = #ffffff

container()
  display flex 
  width 96%
  margin 0 auto
  padding 30px 0

box-shadow()
  background-color clear-color
  box-shadow 0px 20px 33px  0px rgba(0, 0, 0, .20)

opacity(color,qty)
  alpha(color,qty)

*
  box-sizing border-box
  
body
  margin 0
  font-family main-font
  color primary-color