.estadistica--articulos
  height 70px
  padding 20px
  border-top 1px solid opacity(primary-color,.30)
  ul
    display flex
    margin 0
    padding 0
    justify-content space-between
    li
      list-style none
      color opacity(primary-color,.30)
    span
      margin-left 10px